
body{
background-color: rgb(20, 41, 73);
}
h1{color: aliceblue;}
input{ background-color: rgb(178, 190, 186);
     text-decoration: rgb(2, 10, 22); font-size: 20px;
      font-family:'Times New Roman', Times, serif;
       box-sizing:border-box; text-align: center;}
p{color: aliceblue;}
a{color: rgb(235, 243, 124);}
fieldset{background-color: rgb(78, 126, 126);}
